<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuda</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <!-- css personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <h1>Conest - Controle de estoque</h1>
    <p>Autor: João Victor </p>
    <p>Versão: 1.0.</p>
    <div class="MIT">
        <p>Sob a licença MIT <img src="../public/img/mit.png" alt=""></p>
    </div>
<footer>
    <button type="button" class="btn btn-outline-light" onclick="window.close()">OK</button>
</footer>
     <!-- bootstrap -->
     <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>